# Supabase
SUPABASE_JWT_SECRET=
SUPABASE_URL=

# Database (Supabase PostgreSQL)
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Integrações
RESEND_API_KEY=
OPENAI_API_KEY=
ZAPI_TOKEN=
AWESOME_API_BASE_URL=https://economia.awesomeapi.com.br
